
.magenta-menu-logo { /* Логотип меню */
    padding: 0px;
    margin-left: 15px;
}

.header-text-style { /* Заголовок "ВИДИ ДРУКУ" */
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
}
